# LaTeX ignores
*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.synctex.gz
*.pdf
# BibTeX ignores
*.bbl
*.blg
# BibLaTeX ignores
*.bcf
*.xml
# XeTeX ignores
*.xdv
# Paranoid ipython ignores
*.ipynb_checkpoints
__pycache__/
*.synctex*
